name: CI/CD Pipeline (Frontend + Backend)

on:
  push:
    branches: [ "main" ]

jobs:

  build_backend:
    name: Build & Push Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/login-demo_backend:latest


  build_frontend:
    name: Build & Push Frontend
    runs-on: ubuntu-latest
    needs: build_backend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/login-demo_frontend:latest


  deploy_to_ec2:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: build_frontend

    steps:
      - name: Connect to EC2 and deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Pulling latest images..."
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/login-demo_frontend:latest
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/login-demo_backend:latest
            
            echo "Restarting app with zero downtime..."

            cd "${{ secrets.DOCKER_COMPOSE_PATH }}"
            docker-compose pull
            docker-compose down
            docker-compose up -d --remove-orphans

            
            echo "Deployment complete!"
